<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <sd-form-errors [errors]="formErrors()" />

  <div class="form-horizontal">
    <h4>Zugriffsberechtigungen</h4>

    <div
      class="form-group"
      [class.has-error]="hasFieldErrors('max_public_bitrate')"
    >
      <label for="max_public_bitrate" class="col-md-6 control-label">
        Maximale Bitrate für nicht eingeloggte Benutzende
      </label>
      <div class="col-md-6">
        <div class="input-group">
          <select
            id="max_public_bitrate"
            class="form-control"
            formControlName="max_public_bitrate"
          >
            <option [value]="null">Voller Zugriff</option>
            @if (audioEncoding.attributes.bitrates.length > 1) { @for (bitrate
            of audioEncoding.attributes.bitrates; track bitrate) {
            <option value="{{bitrate}}">{{ bitrate }}</option>
            } }
            <option value="0">Kein Zugriff</option>
          </select>
          <div class="input-group-addon">kbps</div>
        </div>
        <sd-field-errors [errors]="fieldErrors('max_public_bitrate')" />
      </div>
    </div>

    <div
      class="form-group"
      [class.has-error]="hasFieldErrors('max_logged_in_bitrate')"
    >
      <label for="max_logged_in_bitrate" class="col-md-6 control-label">
        Maximale Bitrate für eingeloggte Benutzende/Gäste
      </label>
      <div class="col-md-6">
        <div class="input-group">
          <select
            id="max_logged_in_bitrate"
            class="form-control"
            formControlName="max_logged_in_bitrate"
          >
            <option [value]="null">Voller Zugriff</option>
            @if (audioEncoding.attributes.bitrates.length > 1) { @for (bitrate
            of audioEncoding.attributes.bitrates; track bitrate) {
            <option value="{{bitrate}}">{{ bitrate }}</option>
            } }
            <option value="0">Kein Zugriff</option>
          </select>
          <div class="input-group-addon">kbps</div>
        </div>
        <sd-field-errors [errors]="fieldErrors('max_logged_in_bitrate')" />
      </div>
    </div>

    <div
      class="form-group"
      [class.has-error]="hasFieldErrors('max_priviledged_bitrate')"
    >
      <label for="max_priviledged_bitrate" class="col-md-6 control-label">
        Maximale Bitrate für privilegierte Gruppen
      </label>
      <div class="col-md-6">
        <div class="input-group">
          <select
            id="max_priviledged_bitrate"
            class="form-control"
            formControlName="max_priviledged_bitrate"
          >
            <option [value]="null">Voller Zugriff</option>
            @if (audioEncoding.attributes.bitrates.length > 1) { @for (bitrate
            of audioEncoding.attributes.bitrates; track bitrate) {
            <option value="{{bitrate}}">{{ bitrate }}</option>
            } }
            <option value="0">Kein Zugriff</option>
          </select>
          <div class="input-group-addon">kbps</div>
        </div>
        <sd-field-errors [errors]="fieldErrors('max_priviledged_bitrate')" />
      </div>
    </div>

    <div
      class="form-group"
      [class.has-error]="hasFieldErrors('priviledged_groups')"
    >
      <label for="priviledged_groups" class="col-md-6 control-label">
        Privilegierte Gruppen (Komma getrennt)
      </label>
      <div class="col-md-6">
        <input
          id="priviledged_groups"
          type="text"
          class="form-control"
          formControlName="priviledged_groups"
        />
        <sd-field-errors [errors]="fieldErrors('priviledged_groups')" />
      </div>
    </div>

    <div
      class="form-group"
      [class.has-error]="hasFieldErrors('download_permission')"
    >
      <label for="download_permission" class="col-md-6 control-label">
        Download erlaubt für
      </label>
      <div class="col-md-6">
        <select
          id="download_permission"
          class="form-control"
          formControlName="download_permission"
        >
          <option value="public">Alle</option>
          <option value="logged_in">Eingeloggte Benutzende/Gäste</option>
          <option value="priviledged">Privilegierte Gruppen</option>
          <option value="admin">Administratoren</option>
        </select>
        <sd-field-errors [errors]="fieldErrors('download_permission')" />
      </div>
    </div>
  </div>

  <div class="form-horizontal">
    <h4>Initialer Import</h4>

    @if (audioEncoding.attributes.bitrates.length > 1) {
    <div
      class="form-group"
      [class.has-error]="hasFieldErrors('initial_bitrate')"
    >
      <label for="initial_bitrate" class="col-md-2 control-label"
        >Bitrate</label
      >
      <div class="col-md-4">
        <div class="input-group">
          <select
            id="initial_bitrate"
            class="form-control"
            formControlName="initial_bitrate"
          >
            @for (bitrate of audioEncoding.attributes.bitrates; track bitrate) {
            <option value="{{bitrate}}">{{ bitrate }}</option>
            }
          </select>
          <div class="input-group-addon">kbps</div>
        </div>
        <sd-field-errors [errors]="fieldErrors('initial_bitrate')" />
      </div>
    </div>
    }

    <div
      class="form-group"
      [class.has-error]="hasFieldErrors('initial_channels')"
    >
      <label for="initial_channels" class="col-md-2 control-label"
        >Anzahl Kanäle</label
      >
      <div class="col-md-4">
        <select
          id="initial_channels"
          class="form-control"
          formControlName="initial_channels"
        >
          @for (channel of audioEncoding.attributes.channels; track channel) {
          <option value="{{channel}}">{{ channel }}</option>
          }
        </select>
        <sd-field-errors [errors]="fieldErrors('initial_channels')" />
      </div>
    </div>
  </div>

  <div>
    <button
      type="submit"
      [disabled]="form.pristine || !form.valid"
      class="btn btn-primary"
    >
      Speichern
    </button>
    &nbsp;
    <button
      type="reset"
      (click)="reset()"
      [disabled]="form.pristine"
      class="btn"
    >
      Zurücksetzen
    </button>
    &nbsp;
    <button (click)="remove($event)" class="btn btn-danger pull-right">
      Löschen
    </button>
  </div>
</form>

@if (archiveFormat.id) {
<div>
  <br />
  <h4>Datenreduktion</h4>
  <ul class="list-group" style="margin-bottom: 10px">
    @for (action of downgradeActions; track action) {
    <sd-downgrade-action
      [class.disabled]="!!editedDowngradeAction"
      [downgradeAction]="action"
      (edit)="editDowngradeAction(action)"
      (remove)="removeDowngradeAction(action)"
    />
    }
  </ul>
  @if (editedDowngradeAction) {
  <sd-downgrade-action-form
    [downgradeAction]="editedDowngradeAction"
    [audioEncoding]="audioEncoding"
    [restService]="downgradeActionsRest"
    (saved)="updateDowngradeAction($event)"
    (canceled)="editedDowngradeAction = undefined"
  />
  } @if (!hasEreasingDowngrade() && !editedDowngradeAction) {
  <p>
    <a (click)="addDowngradeAction(false)">Reduktionsschritt hinzufügen</a>
    /
    <a (click)="addDowngradeAction(true)">Löschzeitpunkt hinzufügen</a>
  </p>
  }
</div>
} @if (archiveFormat.id && audioEncoding.attributes.bitrates.length > 1) {
<br />
} @if (archiveFormat.id && audioEncoding.attributes.bitrates.length > 1) {
<div class="alert alert-warning">
  <p>
    <strong>Vorsicht!</strong>
    Änderungen an den Archivierungsformaten (ausser den Zugriffsberechtigungen)
    und den Datenreduktionsschritten werden beim nächsten Reduktionslauf
    berücksichtigt und können ab dann nicht mehr rückgängig gemacht werden.
  </p>
  <p>
    Dies betrifft insbesondere Verkleinerungen der Bitraten und der Anzahl
    Kanäle, welche sich auf alle(!) archivierten Sendungen des entsprechenden
    Profils auswirken und somit eine unwiederrufliche und rechenintensive
    Reduktion der Qualität der archivierten Aufnahmen anstossen.
  </p>
  <p>
    Das Löschen eines Archivierungsformates löscht die entsprechenden Audio
    Dateien nicht. Der Zugriff darauf ist jedoch nur noch für Administratoren
    möglich.
  </p>
</div>
}
