<li class="list-group-item">
  @if (downgradeAction.attributes.bitrate) {
  <span>
    Reduziere nach
    <span class="downgrade-value" style="width: 25px"
      >{{ downgradeAction.attributes.months }}</span
    >
    Monaten @if (downgradeAction.attributes.bitrate > 1) {
    <span>
      die Bitrate auf
      <span class="downgrade-value" style="width: 60px"
        >{{ downgradeAction.attributes.bitrate }} kbps</span
      >
      und
    </span>
    } die Känale auf
    <span class="downgrade-value" style="width: 10px"
      >{{ downgradeAction.attributes.channels }}</span
    >.
  </span>
  } @if (!downgradeAction.attributes.bitrate) {
  <span>
    Lösche nach
    <span class="downgrade-value" style="width: 25px"
      >{{ downgradeAction.attributes.months }}</span
    >
    Monaten die Aufzeichnungen in diesem Format komplett.
  </span>
  } &nbsp;
  <a (click)="edit.next()"><span class="glyphicon glyphicon-pencil"></span></a>
  &nbsp;
  <a (click)="remove.next()"><span class="glyphicon glyphicon-trash"></span></a>
</li>
