<h1>{{ title }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <sd-form-errors [errors]="formErrors()" />

  <div class="form-group" [class.has-error]="hasFieldErrors('name')">
    <label for="name" class="control-label">Name</label>
    <input id="name" class="form-control" formControlName="name" />
    <sd-field-errors [errors]="fieldErrors('name')" />
  </div>

  <div class="form-group" [class.has-error]="hasFieldErrors('description')">
    <label for="description" class="control-label">Details</label>
    <textarea
      id="description"
      class="form-control"
      formControlName="description"
      rows="5"
    >
    </textarea>
    <sd-field-errors [errors]="fieldErrors('description')" />
  </div>

  <div class="checkbox" [class.has-error]="hasFieldErrors('default')">
    <label>
      <input type="checkbox" formControlName="default" />
      Standardprofil
    </label>
    <sd-field-errors [errors]="fieldErrors('default')" />
  </div>

  <div>
    <button
      type="submit"
      [disabled]="form.pristine || !form.valid"
      class="btn btn-primary"
    >
      Speichern
    </button>
    &nbsp;
    <button
      type="reset"
      (click)="reset()"
      [disabled]="form.pristine"
      class="btn"
    >
      Zurücksetzen
    </button>
    &nbsp; @if (entry && entry.id) {
    <button (click)="remove($event)" class="btn btn-danger pull-right">
      Löschen
    </button>
    }
  </div>
</form>

@if (entry && entry.id) {
<div>
  <br />
  <h3>Archivierungsformate & Zugriffsberechtigungen</h3>
  <div class="accordion panel-group" role="tablist" aria-multiselectable="true">
    @for (format of archiveFormats; track format) {
    <div
      class="accordion-group panel"
      [class.panel-open]="shownArchiveFormat === format"
    >
      <div class="panel card panel-default">
        <div
          class="panel-heading card-header"
          role="tab"
          role="button"
          (click)="toggleArchiveFormat(format)"
        >
          <div
            class="panel-title"
            [attr.aria-expanded]="shownArchiveFormat === format"
          >
            <span class="pull-right">
              <i
                class="glyphicon"
                [class.glyphicon-menu-down]="shownArchiveFormat !== format"
                [class.glyphicon-menu-up]="shownArchiveFormat === format"
              ></i>
            </span>
            <h4>{{ format.toString() }}</h4>
          </div>
        </div>
        <div
          class="panel-collapse collapse"
          [class.in]="shownArchiveFormat === format"
          role="tabpanel"
          [attr.aria-expanded]="shownArchiveFormat === format"
          [attr.aria-hidden]="shownArchiveFormat !== format"
          [ngStyle]="{
            display: shownArchiveFormat === format ? 'block' : 'none'
          }"
          style="overflow: visible; height: auto"
        >
          <div class="panel-body card-block card-body">
            <sd-archive-format-form
              [archiveFormat]="format"
              [restService]="archiveFormatsRest"
              (removed)="removeArchiveFormat(format)"
            />
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  @if (availableCodecs.length) {
  <div class="form-inline">
    Format hinzufügen: &nbsp;
    <select
      (change)="addArchiveFormat(getSelectedCodec($event))"
      class="form-control"
    >
      <option></option>
      @for (codec of availableCodecs; track codec) {
      <option [value]="codec">{{ codec.toUpperCase() }}</option>
      }
    </select>
  </div>
  }
</div>
} @if (entry && entry.id) {
<div>
  <h3>Sendungen</h3>
  <ul class="show-list">
    @for (show of relatedShows() | async; track show) {
    <li>
      <a [routerLink]="['/shows', show.id]"> {{ show.attributes.name }} </a>
    </li>
    }
  </ul>
  @if ((relatedShows() | async).length === 0) {
  <div>Keine Sendungen zugewiesen.</div>
  }
</div>
}
