<h1>{{ title }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <sd-form-errors [errors]="formErrors()"></sd-form-errors>

  <div class="form-group" [class.has-error]="hasFieldErrors('name')">
    <label for="name" class="control-label">Name</label>
    <input id="name" class="form-control" formControlName="name" />
    <sd-field-errors [errors]="fieldErrors('name')"></sd-field-errors>
  </div>

  <div class="form-group" [class.has-error]="hasFieldErrors('description')">
    <label for="description" class="control-label">Beschreibung</label>
    <textarea
      id="description"
      class="form-control"
      formControlName="description"
      rows="5"
    >
    </textarea>
    <sd-field-errors [errors]="fieldErrors('description')"></sd-field-errors>
  </div>

  <div class="form-group" [class.has-error]="hasFieldErrors('codec')">
    <label for="codec" class="control-label">Codec</label>
    <select id="codec" class="form-control" formControlName="codec">
      @if (entry && !entry.attributes.codec.length) {
      <option></option>
      } @for (encoding of this.audioEncodingsService.getEntries() | async; track
      encoding) {
      <option value="{{encoding.attributes.codec}}">
        {{ encoding.toString() }}
      </option>
      }
    </select>
    <sd-field-errors [errors]="fieldErrors('codec')"></sd-field-errors>
  </div>

  @if (audioEncoding && audioEncoding.attributes.bitrates.length > 1) {
  <div class="form-group" [class.has-error]="hasFieldErrors('bitrate')">
    <label for="bitrate" class="control-label">Bitrate</label>
    <div class="input-group">
      <select id="bitrate" class="form-control" formControlName="bitrate">
        @for (bitrate of audioEncoding.attributes.bitrates; track bitrate) {
        <option value="{{bitrate}}">{{ bitrate }}</option>
        }
      </select>
      <div class="input-group-addon">kbps</div>
    </div>
    <sd-field-errors [errors]="fieldErrors('bitrate')"></sd-field-errors>
  </div>
  } @if (audioEncoding) {
  <div class="form-group" [class.has-error]="hasFieldErrors('channels')">
    <label for="channels" class="control-label">Anzahl Kanäle</label>
    <select id="channels" class="form-control" formControlName="channels">
      @for (channel of audioEncoding.attributes.channels; track channel) {
      <option value="{{channel}}">{{ channel }}</option>
      }
    </select>
    <sd-field-errors [errors]="fieldErrors('channels')"></sd-field-errors>
  </div>
  }

  <div>
    <button
      type="submit"
      [disabled]="form.pristine || !form.valid"
      class="btn btn-primary"
    >
      Speichern
    </button>
    &nbsp;
    <button
      type="reset"
      (click)="reset()"
      [disabled]="form.pristine"
      class="btn"
    >
      Zurücksetzen
    </button>
    &nbsp; @if (entry && entry.id) {
    <button (click)="remove($event)" class="btn btn-danger pull-right">
      Löschen
    </button>
    }
  </div>
</form>
